<?xml version="1.0"?>
<config>
    <modules>
        <Lvab_Report>
            <version>1.0.0</version>
        </Lvab_Report>
    </modules>
    <global>
        <blocks>
            <lvab_report>
                <class>Lvab_Report_Block</class>
            </lvab_report>
        </blocks>
        <helpers>
            <lvab_report>
                <class>Lvab_Report_Helper</class>
            </lvab_report>
        </helpers>
		<models>
			<lvab_report>
				<class>Lvab_Report_Model</class> 
				<resourceModel>lvab_report_resource</resourceModel>
			</lvab_report>
			<lvab_report_resource>
				<class>Lvab_Report_Model_Resource</class>
				<entities>
					<productsold>
                            <table>sales_flat_order_item</table>
                    </productsold>
				</entities>
			</lvab_report_resource>
		</models>
		<resources> 
			<lvab_report_read>
				<connection>
					<use>core_read</use>
				</connection>
			</lvab_report_read>
		</resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <lvab_report>
                    <file>lvab_report.xml</file>
                </lvab_report>
            </updates>
        </layout>
        <translate>
            <modules>
                <Lvab_Report>
                    <files>
                        <default>Lvab_Report.csv</default>
                    </files>
                </Lvab_Report>
            </modules>
        </translate>
		<events>            
            <core_block_abstract_prepare_layout_before>
    			<observers>
                    <extendlist>
                        <class>lvab_report/observer</class>
                        <method>applyLimitToGrid</method>
                    </extendlist>
                </observers>
    		</core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Lvab_Report before="Mage_Adminhtml">Lvab_Report_Adminhtml</Lvab_Report>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
